body{
    margin: 6rem;
    background-color: #00008B;
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    flex-direction: column;
}

button{
    font-size: 2rem;
    padding: 50px 250px;
    background-color: white;
    margin-top: 15px;
}
p{
    font-size:  3rem;
    margin: 0 35px;
    color: white;
    text-align: center;
}